/* reusable */

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 86%;
    margin: auto;
}



/*--------------------------
 navbar or header styles
 ------------------------- */

.header{
    background-color: #2D25A0;
    height: 100%;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    margin: auto;
    
}
.nav-bar a{
    color: white;
    text-decoration: none;
   
}
.option{
    display: none;
}
.menu-bar{
    margin-top: 40px;
}
.menu-bar a{
    margin: 20px;
    font-size: 16px;
}
.login-logout{
    background-color: #E02C6D;
    margin-top: 40px;
    padding: 7px 15px;
    border-radius: 5px;
}
.login-logout a{
    margin-right: 10px;
}

/*-----------------
 banner styles 
 -----------------*/
 
.banner{
    margin-top: 70px;
    display: flex;
    flex-direction: row;

}
 .banner-heading h1{
     font-size: 64px;
     color: white;
     margin-bottom: 25px;
 }
 .banner-heading a{
     color: white;
     text-decoration: none;
     background-color: #E02C6D;
     padding: 10px 30px;
     border-radius: 7px;
     
 }
 .banner-heading i{
     color: white;
     transition: 0.5s;
 }
 .banner-heading a:hover i{
     transform: translate(13px);
 }
 .banner{
     display: flex;
     justify-content: space-between;
 }
 .banner-heading{
    width: 100%;
    padding-bottom: 39px;
}
 .banner-img{
     display: flex;
     justify-content: flex-end;
 }
 .banner-img img{
     width: 80%;
     height: 95%;
    
 }



 /*-------------------------
  banner image animation 
  --------------------------*/

  .banner-img{
     animation: up-down 2s ease-in-out infinite alternate-reverse both;
  }
  @-webkit-keyframes up-down{
    0%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(-10px);
    }
  }
  @keyframes up-down{
    0%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(-10px);
    }
  }





  /* ----------------------
  main section start here
  ------------------------- */

.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
    margin-top: 70px;
}
.player{
   background: #FFFFFF;
   box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
   margin-bottom: 27px;
   padding: 15px;
   text-align: center;
}
.player img{
    width: 100%;
    height: 256px;
}
  

/* -----------------------
    football match section
    ------------------------ */

 .football-match{
     display: flex;
     justify-content: space-between;
     margin: auto;
     margin-top: 110px;
 }
 .match-highlight{
    margin-bottom: 29px;
 }
 .match-highlight h1{
     font-size: 48px;
     line-height: 60px;
 }
 .match-highlight a{
    color: white;
    text-decoration: none;
    background-color: #E02C6D;
    padding: 10px 30px;
    border-radius: 7px;
 }
 .match-highlight i{
    color: white;
    transition: 0.5s;
}
.match-highlight a:hover i{
    transform: translate(13px);
}
 .match-highlight p{
     margin-right: 100px;
 }
 .match-img img{
    width: 100%;
    transition: 0.4s;
 }
 .match-img img:hover{
     transform: scale(1.1);
 }



 /* gallery section */

#gallery h1{
    text-align: center;
    font-size: 50px;
}
/* .photo-album{
   
} */
 .photo-album{
     display: grid;
     grid-template-columns: repeat(4,1fr);
     grid-column-gap: 20px;
     grid-row-gap: 20px;
     
 }
 .photo-overlay{
     position: relative;
     overflow: hidden;
 }
 .photo-overlay img{
     transition: 0.5s;
     width: 100%;
 }
 .photo-overlay:hover img{
     transform: scale(1.1);
 }
 .photo-details{
     position: absolute;
     top: 0;
     right: 0;
     left: 0;
     bottom: 0;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     background: rgba(255, 255, 255, 0.75);
     opacity: 0;
     transition: 0.4s;
     padding: 10px;
 }
 .photo-details:hover{
     opacity: 1;
 }
 .photo-details{
     margin-top: 0;
     margin-bottom: 0;
 }




 /*------------------
  news option
 ------------------- */
.news-section{
    background-color: rgba(250, 247, 247, 0.966);
    padding: 50px 0;
    margin-top: 100px;
    text-align: center;
}
 .news-option{
     display: grid;
     grid-template-columns: repeat(4,1fr);
    
 }
 .Goalkeepers a{
    text-decoration: none;
    display: block;
    line-height: 32px;
    transition: 0.5s;
 }
 .Goalkeepers a:hover{
    color: rgb(216, 183, 172);
 }
 .Defenders a{
    text-decoration: none;
    display: block;
    line-height: 32px;
    transition: 0.5s;
 }
 .Defenders a:hover{
    color: rgb(216, 183, 172);
 }
 .Midfielders a{
    text-decoration: none;
    display: block;
    line-height: 32px;
    transition: 0.5s;
 }
 .Midfielders a:hover{
    color: rgb(216, 183, 172);
 }
 .Forwards a{
    text-decoration: none;
    display: block;
    line-height: 32px;
    transition: 0.5s;
 }
 .Forwards a:hover{
    color: rgb(216, 183, 172);
 }



 /* -----------------------
    footer section start
 ------------------------- */
 .footer-section{
     width: 70%;
     margin: auto;
     margin-top: 90px;
 }
.footer-img img{
    width: 80%;
    height: 60%;
    text-align: center;
}
.social-icon{
    text-align: center;
}
.social-icon a i{
    height: 20px;
    width: 20px;
    font-size: 17px;
}
.social-icon a{
    text-decoration: none;
    margin-top: 14px;
    margin-bottom: 14px;
    margin-right: 20px;
    background-color: rgb(238, 228, 228);
    color: #999;
    height: 10px;
    width: 20px;
    border-radius: 50%;
    padding: 8px;
    transition: 0.4s;
}
.social-icon a:hover{
    background-color: transparent;
    color: wheat;
}
.copyright{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 63px;
}


















 /* -----------------------
 media query styles for mobile
 -------------------------- */

 @media (max-width: 688px) {
     .option{
         display: block;
         color: white;
         margin-top: 40px;
         font-size: 25px;
     }
    .menu-bar a{
        display: none;
    }
    .banner{
        grid-template-columns: repeat(1,1fr);
        flex-direction: column;
        margin-top: 80px;
    }
    
    .banner-heading h1{
        font-size: 40px;
    }
    .banner-heading{
       text-align: center;
       margin-bottom: 70px;
    }
    .banner-img{
        display: flex;
        justify-content: center;
    }
    .banner-img img{
        width: 90%;
        height: 84;
       
    }


/* players section */

    .players{
        grid-template-columns: repeat(1,1fr);
    }
    .player img{
        width: 100%;
        height: 256px;
    }

    /* match section */

    .football-match{
        grid-template-columns: repeat(1,1fr);
        flex-direction: column;
    }
    .match-highlight p{
        margin-right: 0px;
    }

    /* gallery */
    .photo-album{
        grid-template-columns: repeat(1,1fr);
        grid-row-gap: 20px;
    }
    .photo-details{
        width: 100%;
        height: 100%;
       margin-bottom: 20px;
     }

     /* news section */

     .news-option{
        grid-template-columns: repeat(1,1fr);
    }
    
 }

  /* -----------------------
 media query styles for tablet
 -------------------------- */

 @media (min-width: 688px) and (max-width: 992px){
    .option{
        display: block;
        color: white;
        margin-top: 40px;
        font-size: 25px;
    }
    .menu-bar a{
        display: none;
    }
    .banner-heading h1{
        font-size: 50px;
    }
/* players section */
    .players{
        grid-template-columns: repeat(2,1fr);
    }
/* match section */
    .football-match{
        grid-template-columns: repeat(1,1fr);
        flex-direction: column;
    }
    .match-highlight p{
        margin-right: 0px;
    }
    /* photo gallery */

    .photo-album{
        grid-template-columns: repeat(2,1fr);
        grid-row-gap: 20px;
    }
    .photo-details{
        width: 100%;
        height: 100%;
       margin-bottom: 20px;
     }

     /* news section */
     .news-option{
        grid-template-columns: repeat(2,1fr);
    }
 }

